.App {
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 100vh;
  display: grid;
  place-items: center;
}

.container-app {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  text-align: center; 
}

.krishBG {
  width: 300px;
  padding: 40px;
}

a {
  color: #0018f1;
  text-decoration: none;
}

.icons {
  margin-top: 20px;
}

.icons img {
  width: 40px;
  height: 40px;
  margin: 0 10px;
  transition: transform 0.3s;
}

.icons img:hover {
  transform: scale(1.1);
}
